* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

header {
  max-width: 100vw;
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.containerLogo {
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.logo {
  width: 90px;
  height: 20px;
  margin-left: 50px;
}

.containerSearch {
  display: flex;
}

.containerSearch input {
  border: solid #cccccc 1px;
  width: 348px;
  height: 40px;
  padding-left: 10px;
}

.containerSearch figure {
  border: solid 0.5px #cccccc;
  width: 57px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerSearch img {
  width: 24px;
  height: 24px;
}

.containerNotifications {
  display: flex;
  align-items: center;
  margin-left: 50px;
}

.containerNotifications figure {
  margin-left: 20px;
}

main {
  min-height: 100vh;
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding-right: 20px;
  padding-left: 120px;
  padding-top: 30px;
}

.watchingVideo {
  width: 952px;
  height: 746px;
}

.videoTitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  margin: 20px 0;
}

.videoData {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.videoData div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.videoData figure {
  width: 24px;
  height: 24px;
  margin-right: 5px;
}

.channelInformation figure {
  width: 42px;
  height: 42px;
  margin-right: 10px;
}

.channelInformation div {
  flex-direction: column;
  align-items: flex-start;
}

.channelInformation span {
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
}

.videoData p {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
}

.informationViews {
  margin: 20px 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
}

.description {
  width: 510px;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 100%;
  color: #515151;
}

.signUp {
  width: 159px;
  height: 40px;
  background-color: #cc0000;
  color: #ffffff;
  border: none;
}

.signUp:hover {
  background-color: #f46f6f;
}

.sideBar {
  min-width: 361px;
  min-height: 100%;
  margin-left: 20px;
}

.card {
  display: flex;
  height: 90px;
  width: 100%;
  margin-bottom: 20px;
}

.card figure {
  height: 90px;
  width: 160px;
}

.cardInformation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 196px;
  margin-left: 15px;
}

.cardInformation h3 {
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0%;
}

.cardInformation p {
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: #515151;
}